[submodule "ZenlessZoneZero-OneDragon"]
	path = ZenlessZoneZero-OneDragon
	url = https://github.com/OneDragon-Anything/ZenlessZoneZero-OneDragon.git
	branch = main
	shallow = true
[submodule "StarRailOneDragon"]
	path = StarRailOneDragon
	url = https://github.com/DoctorReid/StarRailOneDragon.git
	branch = main
	shallow = true
