[workspace]
authors = ["Small_Ku <small_ku@outlook.com>"]
channels = ["conda-forge"]
description = "A simple solution to set up automation projects for anime games using Pixi package manager."
name = "Pixi-AutoAnimeGame"
platforms = ["win-64"]
version = "0.1.0"

[dependencies]
python = ">=3.11"

[feature.od.dependencies] # OneDragon-Anything
pyyaml = ">=6.0.0"
opencv = ">=4.10.0"
pyautogui = "*"
pynput = ">=1.7.0"
python-mss = ">=9.0.0"
shapely = ">=2.0.0"
pyclipper = ">=1.0.0"
pygit2 = ">=1.19.0,<2"

[feature.od.pypi-dependencies] # OneDragon-Anything
pyside6 = "==6.8.0.2"
pyside6-fluent-widgets = ">=1.7.0,<1.9"
onnxruntime-directml = ">=1.18.0"

[feature.od-zzz.dependencies] # ZenlessZoneZero-OneDragon
pysoundcard = ">=0.4.3"
librosa = "*"
gensim = ">=4.3.3"

[feature.od-hsr.dependencies] # StarRailOneDragon
scipy = ">=1.13.1"
numpy = ">=1.26.4"
requests = ">=2.32.3"

[feature.src.dependencies]
pyyaml = "*"
numpy = ">=1.24.3"
inflection = "*"
pydantic = ">=2.4"
tqdm = "*"
psutil = ">=5.9.3"
rich = "*"
prettytable = ">=2.2.1"
av = ">=10.0.0"
wrapt = "<2"
starlette = ">=0.14.2"
opencv = ">=4.7.0.72"
scipy = ">=1.10.1"
aiofiles = "*"
lz4 = "*"
pillow = ">=9.5.0"
jellyfish = "*"
websockets = ">=12.0,<13"

[feature.src.pypi-dependencies]
uvicorn = { version = ">=0.17.6", extras = ["standard"] }
srcmap = "*"
pywebio = ">=1.8.3"
uiautomator2 = ">=2.16.17"
uiautomator2cache = ">=0.3.1"
adbutils = "==1.2.9"
pponnxcr = "==2.0"
onepush = ">=1.3.0"

[feature.src-dev.dependencies]
pynput = "*"

[feature.od-zzz.tasks]
fetch-zzz = "git submodule sync -- ZenlessZoneZero-OneDragon; git submodule update --init --recursive --remote --depth 1 ZenlessZoneZero-OneDragon"
clean-zzz = "rm -rf ZenlessZoneZero-OneDragon/.log/* ZenlessZoneZero-OneDragon/.debug/images/*"

[feature.od-zzz.tasks.zzz-app]
cmd = "python $APPPATH"
env = { PYTHONPATH = "$PIXI_PROJECT_ROOT\\ZenlessZoneZero-OneDragon\\src", PYTHON = "$CONDA_PREFIX\\python.exe", MAINPATH = "zzz_od\\gui\\app.py", APPPATH = "$PYTHONPATH\\zzz_od\\gui\\app.py" }
depends-on = ["fetch-zzz"]

[feature.od-hsr.tasks]
fetch-hsr = "git submodule sync -- StarRailOneDragon; git submodule update --init --recursive --remote --depth 1 StarRailOneDragon"
clean-hsr = "rm -rf StarRailOneDragon/.log/* StarRailOneDragon/.debug/images/*"

[feature.od-hsr.tasks.hsr-app]
cmd = "python $APPPATH"
env = { PYTHONPATH = "$PIXI_PROJECT_ROOT\\StarRailOneDragon\\src", PYTHON = "$CONDA_PREFIX\\python.exe", MAINPATH = "sr_od\\gui\\sr_full_app.py", APPPATH = "$PYTHONPATH\\sr_od\\gui\\sr_full_app.py" }
depends-on = ["fetch-hsr"]

[feature.src.tasks]
fetch-src = "git submodule sync -- StarRailCopilot; git submodule update --init --recursive --remote --depth 1 StarRailCopilot"
clean-src = "rm -rf StarRailCopilot/log/*"

[feature.src.tasks.src-app]
cmd = "python $PIXI_PROJECT_ROOT\\StarRailCopilot\\gui.py"
depends-on = ["fetch-src"]

[environments]
default = { features = ["od", "od-zzz", "od-hsr", "src"], solve-group = "prod" }
od-zzz = { features = ["od", "od-zzz"], solve-group = "prod" }
od-hsr = { features = ["od", "od-hsr"], solve-group = "prod" }
src = { features = ["src"], solve-group = "prod" }
src-dev = { features = ["src", "src-dev"], solve-group = "prod" }
